[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
app = { path = "../app", default-features = false }
leptos_axum = { workspace = true, optional = true }
leptos_meta = { workspace = true, optional = true }
leptos_router = { workspace = true, optional = true }
leptos = { workspace = true }

# WASM
wasm-bindgen = "0.2"

# Server runtime
axum = "0.8"
tokio = { version = "1" }

# Better error handling
thiserror = "2"

# Logging
console_error_panic_hook = "0.1" # Better panic messages in browser console

[features]
default = []
ssr = [
  "app/ssr",
  "dep:leptos_axum",
  "leptos_meta/ssr",
  "leptos_router/ssr",

  # Server runtime
  "dep:axum",
  "dep:tokio",

  # Better error handling
  "dep:thiserror",
]
