[template]
cargo_generate_version = ">=0.20.0"
exclude = ["**/favicon.ico"]
ignore = ["README.md", "TODO.md", "template-test", "hooks"]

[hooks]
init = ["hooks/initialize.rhai"]
pre = ["hooks/variable.rhai"]
