[template]
cargo_generate_version = ">=0.20.0"
exclude = ["**/favicon.ico"]
ignore = ["README.md", "TODO.md", "template-test", "hooks"]

[placeholders]
websocket = { prompt = "Websocket?", default = false, type = "bool" }
tracing = { prompt = "Tracing?", default = false, type = "bool" }
style = { prompt = "Which style?", default = "default", type = "string", choices = [
  "default",
  "unocss",
] }
docker = { prompt = "Docker?", default = false, type = "bool" }
cucumber = { prompt = "Cucumber?", default = false, type = "bool" }
playwright = { prompt = "Playwright?", default = false, type = "bool" }

[hooks]
init = ["hooks/initialize.rhai"]
pre = ["hooks/variable.rhai"]
